body {
  display: flex;
  align-self: center;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
  .btn:hover {
    background-color: #0056b3;
  }
  .btn-block {
    display: block;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }
  main{
    width:60%;
    margin: 20px;
    padding: 60px;
    font-size: 1.5em; 
    overflow-y: auto; /* Changed to 'auto' for better scroll handling */
    max-height: 80%; /* Set this to any desired height */
  }
  label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #007bff;
  }
  img {
    display: block;
    margin-top: 20px;
  }
  b {
    display: block;
    margin-top: 20px;
    font-size: 20px;
  }
  #drop-area {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}
#drop-area.hover {
    border-color: #333;
}
.preview {
  display:flex;
  align-items: center;
  flex-wrap: wrap;
}
.preview img {
    margin: 5px;
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
}

#preview-container {
  margin-top: 10px;
  max-height: 400px;
  overflow-y: auto;
}
h1, h3{
  text-align: center;
}

#predict{
  background-color:black
}


.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  font-weight: 200;
  visibility: hidden;
  width: 120px;
  background-color: grey;
  border: 5%;
  opacity: 0.95;
  color: #fff;
  text-align: left;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the button */
  left: 50%;
  margin-left: -60px;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.img-container {
  display: block;
  max-width: 100px;
  max-height: 100px;
  position: relative;
}
.img-container img{
  display: block;
  max-width: 90%;
  max-height: 100%;
}

.close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: none;
  opacity: 0.7;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 2px 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}


.home{
  top: -10px;
}