<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css')}}">
    <title>Profile</title>
</head>
<body>  
    <nav>
        <div class="navbar-container">
            <a href="{{ url_for('home') }}" class="navbar-brand">
                <span>Panel Inspector</span>
            </a>            
            <div class="profile-dropdown">
                <div class="profile-icon">
                    <img src="{{ user.pic }}" alt="Profile Picture" onerror="this.onerror=null;this.src='{{ url_for('static', filename='images/no-profile-pic.png') }}';">
                </div>
                <div class="dropdown-content">
                    <p>{{ session['user'] }}</p>
                    <a href="{{ url_for('logout') }}">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <h1>{{ user.name }}</h1>
        <div class="profile-pic" onclick="triggerFileInput()">
            <img src="{{ user.pic }}" alt="Profile Picture" onerror="this.onerror=null;this.src='{{ url_for('static', filename='images/no-profile-pic.png') }}';">
        </div>
        <form id="profile-pic-form" action="{{ url_for('change_profile_pic') }}" method="POST" enctype="multipart/form-data" style="display: none;">
            <input id="profile-pic-input" type="file" name="profile_pic" accept="image/*" onchange="submitForm()">
        </form>
        {% if user.pic %}
        <form id="delete-profile-pic-form" action="{{ url_for('delete_profile_pic') }}" method="POST" style="display: inline;">
            <a href="#" onclick="event.preventDefault(); document.getElementById('delete-profile-pic-form').submit();" class="delete-profile-pic-link">Remove profile picture</a>
        </form>
        {% endif %}
        <p><b>Username:</b> {{ session['user'] }}</p>
        <h2>Your Reports</h2>
        <form class="reports"  action="{{ url_for('delete_reports') }}" method="post">
            
            <table>
                <thead>
                    <tr>
                        {% if reports %}
                            <th class="select-all">
                                <input type="checkbox" onclick="toggleSelectAll(this)">
                            </th>
                        {% endif %}
                        <th>Report</th>
                        <th>See Detail</th>
                        <th>Download PDF</th>
                    </tr>
                </thead>
                <tbody>
                    {% if reports %}
                        {% for report in reports %}
                            <tr>
                                <td><input type="checkbox" name="report_ids" value="{{ report.report_id }}"></td>
                                <td>{{ report.name }}</a></td>
                                <td><a href="{{ url_for('report_detail', report_id=report.report_id) }}"><img src="{{ url_for('static', filename='images/docs.png') }}"></a></td>
                                <td><a href="{{ url_for('generate_pdf', report_id=report.report_id) }}"><img src="{{ url_for('static', filename='images/download.png') }}"></a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">No reports found.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <br>
            {% if reports %}
                <button type="submit">Delete Selected</button>
            {% endif %}
        </form>
        
        <p><b>Account Management</b></p>
        <form id="delete-account-form" action="{{ url_for('delete_account') }}" method="POST" style="display: none;">
        </form>
        <a href="#" class="delete-account-link" onclick="confirmDelete()">Delete Account</a>
    </main>
    {{ footer|safe }}
    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
</body>
</html>