<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css')}}">
    <title>Profile</title>
</head>
<body>  
    <nav>
        <div class="navbar-container">
            <span class="navbar-brand">Panel Inspector</span>
                <div class="profile-dropdown">
                    <div class="profile-icon">
                        <img src="{{ url_for('static', filename='profile.jpg') }}" alt="Profile Picture" onerror="this.onerror=null;this.src='{{ url_for('static', filename='images/no-profile-pic.png') }}';">
                    </div>
                    <div class="dropdown-content">
                        <p>{{ session['username'] }}</p>
                        <a href="{{ url_for('logout') }}">Logout</a>
                    </div>
                </div>
        </div>
    </nav>
    <main>
        <h1>Welcome, {{ user }}</h1>
        <div class="profile-pic">
            <!--stubbed-->
            <img src="{{ url_for('static', filename='profile.jpg') }}" alt="Profile Picture" onerror="this.onerror=null;this.src='{{ url_for('static', filename='images/no-profile-pic.png') }}';">
        </div>
        <p><b>Change profile picture</b></p>
        <p><b>Role:</b> {{ role }}</p>
        <p><b>Username:</b> {{ username }}</p>
        <form action="{{ url_for('delete_reports') }}" method="post">
            <table>
                <thead>
                    <tr>
                        {% if reports %}
                            <th class="select-all">
                                <input type="checkbox" onclick="toggleSelectAll(this)">
                            </th>
                        {% endif %}
                        <th>Your Reports</th>
                    </tr>
                </thead>
                <tbody>
                    {% if reports %}
                        {% for report in reports %}
                            <tr>
                                <td><input type="checkbox" name="report_ids" value="{{ report.report_id }}"></td>
                                <td><a href="{{ url_for('view_report', report_id=report.report_id) }}">{{ report.name }}</a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="2">No reports found.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <br>
            {% if reports %}
                <button type="submit">Delete Selected</button>
            {% endif %}
        </form>
    </main>
    {{ footer|safe }}
    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
</body>
</html>